@media (min-width: 768px) {
    :root {
      --heading-size: 18px;
      --body-size: 20px;
      --blockquote-size: 28px;
    }
  
    body {
      padding: 20px;
    }
  
    .status-bar, .main-title, .content-box,.quote-box {
      max-width: 600px;
    }
  
    h1 {
      font-size: 80px;
    }

    .sticky-nav .nav-item {
      flex: 1; 
      text-align: center;
    }
  
    .sticky-nav {
      display: flex;
    }
  
  }

  @media (min-width: 1280px) {
  :root {
    --heading-size: 20px;
    --body-size: 22px;
    --blockquote-size: 32px;
  }

  body {
    padding: 40px;
  }

  .status-bar, .main-title, .content-box,.quote-box {
    max-width: 1200px;
  }

  h1 {
    font-size: 100px;
  }

  .content-box {
    padding: 32px;
    margin: 16px 0;
  }
}
