:root {
	margin: 0;
	padding: 0;

	/*font families*/
	--heading-font: 'Arsenal';
	--subheading-font: 'Aleo';
	--body-font: 'Monaco';
  }

  body {
	font-family: 'Arial', sans-serif;
	color: white;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }

 #container {
	width: 1400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	margin: 4em;
  }

  /* Header  */
  header h1 {
	font-size: 8rem;
	margin-bottom: 4rem;
	font-family: var(--heading-font);
  }

  header p {
	font-size: 1.2rem;
	font-family: var(--body-font);
  }

  /* Cards */
  .cards {
	margin-top: 6rem;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
  }

  .card {
	/* width: 100%; */
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
	gap: 2em;
	border-radius: 4px;
	position: relative;
  }

  .card .dot {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 15px;
	left: 15px;
  }

  .card h2 {
	font-size: 3.2rem;
	/* margin-left: 2rem; */
	margin-right: 1em;
	margin-top: 2em;
	text-align: right;
	font-family: var(--body-font);
  }

  /* Cards color */
  .card.blue {
	background-color: #2868c7;
  }

  .card.green {
	background-color: #356c3c;
  }

  .card.red {
	background-color: #c43c3c;
  }

  /* footer  */
  footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
	font-size: 1.4rem;
	border-top: 1px solid #fff;
	padding-top: 0.5rem;
	font-family: var(--heading-font);
  }
  
  .footer-item {
	flex: 1;
	text-align: center;
  }

@media (min-width: 1080px){
	  /* Cards */
	  .cards {
		flex-direction: row;
		gap: 2rem;
	  }
}