:root {
	/*font families*/
	--heading-font: 'Bigshot One';
	--subheading-font: 'Prompt';
	--body-font: 'Montserrat';

	/* color style */
	--text-black: black;
	--text-white: white;
	--heading-bg-color: #F8F67D;
	--secondary-heading-color: #BFE6E9;

	/* border box style */
	--border-box: 3px solid #000;

	/* section height */
	--section-height: 40px;

	/* padding */
	--padding-large: 40px 20px;
	--padding-small: 20px 20px;
}

/* header style */
header {
	/* color: var(--text-black);
	background-color: var(--heading-bg-color); */
    text-align: left;

	/* gradient animation */ 
	background: linear-gradient(120deg, #f7941d, #4b88a2);
	background-size: 400% 400%;
	animation: gradient-animation 8s ease infinite;
}

/* gradient animation */
@keyframes gradient-animation {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }

header h1 {
	border-bottom: var(--border-box);
	padding: var(--padding-large);
	font-size: 72px;
	font-family: var(--heading-font);
	font-weight: bold;
}

#subtitle {
	border-bottom: var(--border-box);
	padding: var(--padding-small);
	font-size: 28px;
	font-style: italic;
	font-family: var(--subheading-font);
	background-color: var(--secondary-heading-color);
}

#intro {
	/* border-bottom: var(--border-box); */
	padding: var(--padding-small);
	font-size: 16px;
	font-family: var(--body-font);
}

/* section heading style */
.color-section {
	text-align: center;
	border-top: var(--border-box);
}

h2 {
	/* make heading align vertically */
	display: flex;
  	justify-content: center; 
  	align-items: center;  

	font-family: var(--heading-font);
	font-size: 20px;

	height: var(--section-height);
	color: var(--text-white);
}

/* specific section heading color */
.red h2 {
	background-color: #AE1B07;
}

.yellow h2 {
	background-color: #DFC21F;
	color: var(--text-black);
}

.green h2 {
	background-color: #1A5446;
}

/* section body text */
section p {
	font-size: 1.2em;
	font-family: var(--body-font);
	padding: 20px 20px 30px 20px;
}

.color-section p {
	font-family: var(--body-font);
	padding: 0 20px 30px 20px;
}

blockquote {
	font-family: var(--subheading-font);
	font-size: 24px;
	padding: var(--padding-large);
}

/* footer style */
footer {
	text-align: center;
    margin-top: 20px;
	padding: var(--padding-small);
	font-family: var(--subheading-font);
    font-size: 20px;
    color: var(--text-black);
	background-color: #DFC21F;
	border-bottom: 10px solid black;
}
